    <script type="text/javascript">
    /* Create the Client with a Capability Token */
    Twilio.Device.setup("<%= @token %>", {debug: true});
 
    /* Let us know when the client is ready. */
    Twilio.Device.ready(function (device) {
        $("#log").text("Ready");
    });
 
    /* Report any errors on the screen */
    Twilio.Device.error(function (error) {
        $("#log").text("Error: " + error.message);
    });
 
    Twilio.Device.connect(function (conn) {
        $("#log").text("Successfully established call");
    });
    
    Twilio.Device.disconnect(function (conn) {
        $("#log").text("Successfully HangedUp call");
    });
    
    /* Listen for incoming connections */
    Twilio.Device.incoming(function (conn) {
        $("#log").text("Incoming connection from " + conn.parameters.From);
        // accept the incoming connection and start two-way audio
        conn.accept();
    });
    /* Connect to Twilio when we call this function. */
    function call() {
        params = {"PhoneNumber": $("#number").val(), "Code": $("#user_code").val()};
        Twilio.Device.connect(params);
    }
    
    function hangup() {
        Twilio.Device.disconnectAll();
    }
    </script>
    <%= select("user", "code", @countries.map{|x| [x.name, x.code]}) %>
    <input type="text" id="number" name="number" placeholder="Enter a phone number to call"/>
    <button class="call" onclick="call();">
      Call
    </button>
    
    <button class="hangup" onclick="hangup();">
      Hang Up
    </button>
    
   <%#= link_to "Incoming Call", client_incoming_call_path, method: "post" %>
    <div id="log">Loading pigeons...</div>
